production:
  host:             {{ ezid_host }}
  port:             {{ ezid_port }}
  user:             <%= Rails.application.secrets.ezid_user %>
  password:         <%= Rails.application.secrets.ezid_pass %>
  default_shoulder: {{ ezid_default_shoulder }}
