default: &default
  fedora_user: fedoraAdmin
  hydra_pg_pass: {{ hydra_pg_pass }}
  pg_pass: {{ pg_pass }}
  secret_key_base: {{ rails_secret_key_base }}

test:
  <<: *default
  fedora_pass: fedoraAdmin

production:
  <<: *default
  fedora_pass: {{ fedora_pass }}
